@using Tema3Sem2.Models.DB
@using Tema3Sem2.Models;
@model CustomDomain
@{
    ViewBag.Title = "Index";
}

<h2>Choose questions domain:</h2>

<div class="domains">
    @foreach (Domeniu domeniu in @Model.Domenii)
    {
        <div>
            @Html.ActionLink(domeniu.Nume, "Test", "Quiz")
        </div>
    }
</div>