@{
    ViewBag.Title = "Index";
}

<h2>Choose questions domain:</h2>

<div class="domains">
    <div id="basic">
        @Html.ActionLink("Dot.net basic", "Test", "Quiz")
    </div>
    <div id="special">
        @Html.ActionLink("Special .net framework", "Test", "Quiz")
    </div>
</div>